* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  a {
    text-decoration: none;
    color: #444;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.wrapper {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}
.center {
  max-width: 1140px;
  margin: 0 auto;
}
